.back-button {
	margin-left: 10px;
    display: inline-block;
    background-color: #4f70be;
    color: #ffffff;
    border: 2px solid #1b2b4e;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover {
    background-color: #3f60ae;
}

.submit-button {
    margin-left: 35px;
    display: inline-block;
    background-color: #4f70be;
    color: #ffffff;
    border: 2px solid #1b2b4e;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #3f60ae;
}



